In [1]:
import os
import pandas as pd
import numpy as np
# 马鞍山电厂燃料月度数据存放文件夹
fuel_directory = "../data/马鞍山电厂入炉煤质数据/马鞍山入炉煤统计表202308-202412"
#合并马鞍山电厂燃料月度数据 2308-2412月度文件为整年
# List to hold each DataFrame
dataframes = []
# Loop through all files in the directory
for file in os.listdir(fuel_directory):
    print(file)
    # Construct full file path
    file_path = os.path.join(fuel_directory, file)
    
    # Read the Excel file into a DataFrame
    df = pd.read_excel(file_path,skiprows=6,skipfooter=2)
    
    # Append the DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into df for one year 
fuel_year_df = pd.concat(dataframes, ignore_index=True)
#重命名列名
fuel_year_df.columns = ["时间","总吨位（T)","全水分%","水分%","灰份%","挥发份%Vad","挥发份%Vdaf","全硫%ar","全硫%ad","高位热量","低位热量","固定碳%","#1煤量","#1热值","#2煤量","#2热值","飞灰%#1","飞灰%#2","炉渣%#1","炉渣%#2"]
# fuel_year_df.columns = ["时间","全水分%","灰份%","挥发份%Vad","低位热量","固定碳%"]	
# convert date from object type to datetime type 
fuel_year_df["时间"] = pd.to_datetime(fuel_year_df["时间"])
# set date to index
fuel_year_df.set_index("时间", inplace=True)
# sort data by date
fuel_year_df = fuel_year_df.sort_index()
#机组1&机组2整年日度数据
fuel_year_df = fuel_year_df.reset_index()
# 将整个 DataFrame 中的 "∕" 和 "/" 替换为 NaN
#fuel_year_df[(fuel_year_df["飞灰%#1"] =="∕")|(fuel_year_df["飞灰%#1"] =="/")]
fuel_year_df = fuel_year_df.replace(['∕', '/'], np.nan)

2023年10月入炉煤质统计表.xls
2023年11月入炉煤质统计表.xls
2023年12月入炉煤质统计表.xls
2023年8月入炉煤质统计表.xls
2023年9月入炉煤质统计表.xls
2024年10月入炉煤质统计表.xls
2024年11月入炉煤质统计表.xls
2024年12月入炉煤质统计表.xls
2024年1月入炉煤质统计表.xls
2024年2月入炉煤质统计表.xls
2024年3月入炉煤质统计表.xls
2024年4月入炉煤质统计表.xls
2024年5月入炉煤质统计表.xls
2024年6月入炉煤质统计表.xls
2024年7月入炉煤质统计表.xls
2024年8月入炉煤质统计表.xls
2024年9月入炉煤质统计表.xls

C:\Users\97112\AppData\Local\Temp\ipykernel_9708\2869569756.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  fuel_year_df = fuel_year_df.replace(['∕', '/'], np.nan)

In [2]:
fuel_year_df

,时间,总吨位（T),全水分%,水分%,灰份%,挥发份%Vad,挥发份%Vdaf,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,#2煤量,#2热值,飞灰%#1,飞灰%#2,炉渣%#1,炉渣%#2
0,2023-08-01,10520,11.5,3.34,30.90,26.17,39.80,0.83,0.90,21.19,18.56,36.26,4998,18.46,5522,18.65,1.353333,1.166667,4.87,4.96
1,2023-08-02,9291,12.3,3.81,29.05,26.37,39.30,0.69,0.76,21.47,18.72,37.18,4420,18.78,4871,18.67,1.176667,1.206667,4.93,5.01
2,2023-08-03,8755,14.5,5.16,23.51,27.35,38.34,0.59,0.66,22.80,19.65,39.67,4424,19.35,4331,19.96,1.423333,1.313333,5.04,5.41
3,2023-08-04,11385,14.3,5.66,24.20,27.91,39.80,0.64,0.71,21.95,19.03,38.36,5578,18.83,5807,19.23,1.356667,1.356667,4.27,4.70
4,2023-08-05,13019,18.0,9.81,20.30,27.56,39.43,0.66,0.72,21.85,18.86,38.47,6628,18.81,6391,18.92,1.326667,1.263333,4.31,4.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,10860,16.6,5.98,23.49,28.90,40.92,0.57,0.65,22.48,18.93,36.91,5306,19.24,5554,18.63,1.486667,1.430000,4.91,3.88
515,2024-12-28,8518,20.0,9.44,19.40,30.64,43.09,0.69,0.79,21.95,18.29,35.78,3825,18.69,4693,17.96,1.476667,1.436667,5.02,3.66
516,2024-12-29,7998,20.9,9.08,18.91,30.88,42.91,0.75,0.86,22.19,18.18,35.75,3668,18.41,4330,18.00,1.356667,1.543333,4.98,3.59
517,2024-12-30,7614,19.5,10.12,20.41,29.88,43.01,0.74,0.82,21.59,18.26,35.48,3777,17.91,3837,18.60,1.526667,1.593333,5.29,5.02
518,2024-12-31,9608,14.8,7.34,21.08,28.72,40.11,0.67,0.73,22.56,19.75,39.42,5021,19.69,4587,19.81,1.356667,1.550000,4.67,5.19

In [3]:
fuel_year_df.columns

Index(['时间', '总吨位（T)', '全水分%', '水分%', '灰份%', '挥发份%Vad', '挥发份%Vdaf', '全硫%ar',
       '全硫%ad', '高位热量', '低位热量', '固定碳%', '#1煤量', '#1热值', '#2煤量', '#2热值',
       '飞灰%#1', '飞灰%#2', '炉渣%#1', '炉渣%#2'],
      dtype='object')

In [4]:
# 选择机组1和机组2 燃煤特征
'''fuel_year_df_1 = fuel_year_df[['时间','全水分%', '水分%', '灰份%', '挥发份%Vad', '挥发份%Vdaf', '全硫%ar', '全硫%ad',
       '高位热量', '低位热量', '固定碳%', '#1煤量', '#1热值', '飞灰%#1','炉渣%#1']]
fuel_year_df_2 = fuel_year_df[['时间','全水分%', '水分%', '灰份%', '挥发份%Vad', '挥发份%Vdaf', '全硫%ar', '全硫%ad',
       '高位热量', '低位热量', '固定碳%', '#2煤量', '#2热值', '飞灰%#2','炉渣%#2']]'''
fuel_year_df_1 = fuel_year_df[['时间','全水分%', '灰份%', '挥发份%Vad', '低位热量', '固定碳%']]
fuel_year_df_2 = fuel_year_df[['时间','全水分%', '灰份%', '挥发份%Vad', '低位热量', '固定碳%']]

In [5]:
fuel_year_df_1

            时间  全水分%    灰份%  挥发份%Vad   低位热量   固定碳%
0   2023-08-01  11.5  30.90    26.17  18.56  36.26
1   2023-08-02  12.3  29.05    26.37  18.72  37.18
2   2023-08-03  14.5  23.51    27.35  19.65  39.67
3   2023-08-04  14.3  24.20    27.91  19.03  38.36
4   2023-08-05  18.0  20.30    27.56  18.86  38.47
..         ...   ...    ...      ...    ...    ...
514 2024-12-27  16.6  23.49    28.90  18.93  36.91
515 2024-12-28  20.0  19.40    30.64  18.29  35.78
516 2024-12-29  20.9  18.91    30.88  18.18  35.75
517 2024-12-30  19.5  20.41    29.88  18.26  35.48
518 2024-12-31  14.8  21.08    28.72  19.75  39.42

[519 rows x 6 columns]

In [6]:
fuel_year_df_2

            时间  全水分%    灰份%  挥发份%Vad   低位热量   固定碳%
0   2023-08-01  11.5  30.90    26.17  18.56  36.26
1   2023-08-02  12.3  29.05    26.37  18.72  37.18
2   2023-08-03  14.5  23.51    27.35  19.65  39.67
3   2023-08-04  14.3  24.20    27.91  19.03  38.36
4   2023-08-05  18.0  20.30    27.56  18.86  38.47
..         ...   ...    ...      ...    ...    ...
514 2024-12-27  16.6  23.49    28.90  18.93  36.91
515 2024-12-28  20.0  19.40    30.64  18.29  35.78
516 2024-12-29  20.9  18.91    30.88  18.18  35.75
517 2024-12-30  19.5  20.41    29.88  18.26  35.48
518 2024-12-31  14.8  21.08    28.72  19.75  39.42

[519 rows x 6 columns]

In [8]:
fuel_year_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   时间       519 non-null    datetime64[ns]
 1   全水分%     519 non-null    float64
 2   灰份%      519 non-null    float64
 3   挥发份%Vad  519 non-null    float64
 4   低位热量     519 non-null    float64
 5   固定碳%     519 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 24.5 KB

In [9]:
fuel_year_df_1.to_excel("../已提取数据/马鞍山1号煤质202308-202412.xlsx",index=False)

In [10]:
fuel_year_df_2.to_excel("../已提取数据/马鞍山2号煤质202308-202412.xlsx",index=False)