In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.float_format', '{:.3f}'.format)
import warnings
warnings.filterwarnings("ignore")
# 设置中文字体为 SimHei（黑体）
plt.rcParams['font.sans-serif'] = ['SimHei']  # 使用黑体 SimHei
plt.rcParams['axes.unicode_minus'] = False    # 解决负号显示问题

In [21]:
#读取 已提取运行数据
df_1_operation = pd.read_excel("../已提取数据/安庆1号运行数据2023.xlsx")
df_2_operation = pd.read_excel("../已提取数据/安庆2号运行数据2023.xlsx")
df_3_operation = pd.read_excel("../已提取数据/安庆3号运行数据2023.xlsx")
df_4_operation = pd.read_excel("../已提取数据/安庆4号运行数据2023.xlsx")

#统一时间列名 以合并
df_1_operation = df_1_operation.rename(columns = {"日期":"时间"})
df_2_operation = df_2_operation.rename(columns = {"日期":"时间"})
df_3_operation = df_3_operation.rename(columns = {"日期":"时间"})
df_4_operation = df_4_operation.rename(columns = {"日期":"时间"})


df_1_operation
#df_2_operation
#df_3_operation
#df_4_operation

,时间,机主汽压力,机再热汽温度,发电厂用电率,运行小时,低缸排汽温度,热力计算排烟温度,氧量,空预器漏风率,真空,炉给水温度,平均负荷,送风温度,主汽温度,平均负荷率
0,2023-01-01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2023-01-02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2023-01-03,15.650,533.630,5.190,8.860,41.570,0.000,4.810,4.410,-93.920,260.290,142.220,33.070,537.590,44.444
3,2023-01-04,12.300,512.900,4.920,24.000,26.850,119.690,4.390,2.400,-99.810,245.990,206.670,7.870,540.040,64.584
4,2023-01-05,13.710,515.220,4.630,24.000,28.490,123.480,4.050,3.020,-99.430,250.550,230.420,9.600,539.850,72.006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023-12-27,12.560,517.560,4.900,24.000,25.150,124.160,4.420,4.440,-99.700,243.150,202.070,8.880,540.610,63.147
361,2023-12-28,12.900,524.970,4.480,24.000,26.940,131.810,3.850,4.200,-99.350,248.310,226.120,8.820,543.430,70.663
362,2023-12-29,14.320,532.690,4.580,24.000,29.930,133.300,3.160,4.070,-98.700,260.380,270.420,9.040,543.740,84.506
363,2023-12-30,12.650,521.960,5.100,24.000,26.050,125.270,4.520,5.080,-99.520,243.360,202.920,11.210,543.240,63.412
364,2023-12-31,11.050,518.190,5.620,24.000,24.050,122.920,5.070,4.970,-99.910,233.570,165.420,9.680,544.420,51.694

In [6]:
#读取 已提取燃煤煤质数据
df_1_fuel = pd.read_excel("../已提取数据/安庆1号煤质数据据2023.xlsx")
df_2_fuel = pd.read_excel("../已提取数据/安庆2号煤质数据据2023.xlsx")
df_3_fuel = pd.read_excel("../已提取数据/安庆3号煤质数据据2023.xlsx")
df_4_fuel = pd.read_excel("../已提取数据/安庆4号煤质数据据2023.xlsx")
df_1_fuel
#df_2_fuel
#df_3_fuel
#df_4_fuel

            时间  空干基含碳量（%）  收到基挥发分（%）  收到基灰分（%）  收到基低位发热量(kJ/kg)  全水分（%）
0   2023-01-01     54.080     24.330    23.390        18369.700  14.200
1   2023-01-02     54.080     24.330    23.390        18369.700  14.200
2   2023-01-03     54.080     24.330    23.390        18369.700  14.200
3   2023-01-04     54.080     24.330    23.390        18369.700  14.200
4   2023-01-05     54.080     24.330    23.390        18369.700  14.200
..         ...        ...        ...       ...              ...     ...
360 2023-12-27     58.410     24.770    18.570        19497.200  14.900
361 2023-12-28     58.410     24.770    18.570        19497.200  14.900
362 2023-12-29     58.410     24.770    18.570        19497.200  14.900
363 2023-12-30     58.410     24.770    18.570        19497.200  14.900
364 2023-12-31     58.410     24.770    18.570        19497.200  14.900

[365 rows x 6 columns]

In [10]:
#读取 已提取碳排放监测数据
df_1_emission = pd.read_excel("../已提取数据/安庆1号碳排放数据2023.xlsx")
df_2_emission = pd.read_excel("../已提取数据/安庆2号碳排放数据2023.xlsx")
df_3_emission = pd.read_excel("../已提取数据/安庆3号碳排放数据2023.xlsx")
df_4_emission = pd.read_excel("../已提取数据/安庆4号碳排放数据2023.xlsx")
df_1_emission
#df_2_emission
#df_3_emission
# df_4_emission

            时间      负荷    碳排放强度    负荷率
0   2023-01-03 141.088 1062.950 44.090
1   2023-01-04 206.726  838.918 64.602
2   2023-01-05 230.601  863.165 72.063
3   2023-01-06 171.071  902.416 53.460
4   2023-01-07 164.837  896.849 51.512
..         ...     ...      ...    ...
305 2023-12-27 201.248  912.860 62.890
306 2023-12-28 232.979  872.530 72.806
307 2023-12-29 275.471  853.124 86.085
308 2023-12-30 200.170  881.935 62.553
309 2023-12-31 167.656  932.748 52.393

[310 rows x 4 columns]

In [22]:
import functools as ft
#整合3种数据
data_frames_1 = [df_1_operation,df_1_fuel,df_1_emission]
df_merged_1 = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames_1)#.fillna(0)

data_frames_2 = [df_2_operation,df_2_fuel,df_2_emission]
df_merged_2 = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames_2)#.fillna(0)

data_frames_3 = [df_3_operation,df_3_fuel,df_3_emission]
df_merged_3 = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames_3)#.fillna(0)

data_frames_4 = [df_4_operation,df_4_fuel,df_4_emission]
df_merged_4 = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames_4)#.fillna(0)
df_merged_2

,时间,机主汽压力,机再热汽温度,发电厂用电率,运行小时,低缸排汽温度,热力计算排烟温度,氧量,空预器漏风率,真空,...,主汽温度,平均负荷率,空干基含碳量（%）,收到基挥发分（%）,收到基灰分（%）,收到基低位发热量(kJ/kg),全水分（%）,负荷,碳排放强度,负荷率
0,2023-01-01,11.650,535.970,7.110,24.000,22.950,126.880,6.780,3.520,-99.640,...,545.480,50.000,53.800,24.570,23.030,18518.900,14.300,159.685,966.444,49.901
1,2023-01-02,11.750,534.530,7.230,24.000,22.770,130.980,6.570,4.050,-99.680,...,545.070,50.000,53.800,24.570,23.030,18518.900,14.300,159.771,961.817,49.928
2,2023-01-03,13.420,537.360,7.590,24.000,26.110,124.340,5.330,3.300,-98.650,...,542.390,65.366,53.800,24.570,23.030,18518.900,14.300,208.480,916.224,65.150
3,2023-01-04,13.400,533.730,5.450,24.000,26.170,128.100,5.650,3.140,-98.050,...,542.300,63.931,53.800,24.570,23.030,18518.900,14.300,204.764,919.750,63.989
4,2023-01-05,13.860,535.580,5.140,24.000,28.450,125.870,5.040,3.000,-97.550,...,541.280,73.697,53.800,24.570,23.030,18518.900,14.300,235.207,902.760,73.502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023-12-27,12.650,532.270,5.200,24.000,24.840,124.630,4.750,1.620,-99.400,...,539.960,59.716,58.230,24.760,18.390,19516.300,15.000,191.658,794.341,59.893
361,2023-12-28,13.190,536.400,4.630,24.000,26.570,127.440,4.290,1.570,-99.070,...,541.370,67.156,58.230,24.760,18.390,19516.300,15.000,219.845,774.898,68.702
362,2023-12-29,14.600,537.310,4.650,24.000,30.170,130.940,3.210,1.580,-98.350,...,541.640,84.116,58.230,24.760,18.390,19516.300,15.000,274.056,744.289,85.642
363,2023-12-30,12.370,533.230,5.420,24.000,24.910,120.490,4.870,1.520,-99.340,...,539.700,57.681,58.230,24.760,18.390,19516.300,15.000,183.665,805.373,57.395
364,2023-12-31,11.900,533.080,5.670,24.000,23.970,119.430,5.330,1.300,-99.500,...,540.050,52.475,58.230,24.760,18.390,19516.300,15.000,171.075,803.455,53.461

In [32]:
df_merged_1[["时间","平均负荷","负荷"]].head(20)

           时间    平均负荷      负荷
0  2023-01-01   0.000     NaN
1  2023-01-02   0.000     NaN
2  2023-01-03 142.220 141.088
3  2023-01-04 206.670 206.726
4  2023-01-05 230.420 230.601
5  2023-01-06 170.830 171.071
6  2023-01-07 165.000 164.837
7  2023-01-08 162.920 163.192
8  2023-01-09 161.250 161.426
9  2023-01-10 174.580 175.213
10 2023-01-11 171.250 171.575
11 2023-01-12 175.000 175.197
12 2023-01-13 173.750 165.344
13 2023-01-14 167.500 164.210
14 2023-01-15 188.330 164.210
15 2023-01-16 209.580 193.843
16 2023-01-17 193.330 193.830
17 2023-01-18 201.670 161.517
18 2023-01-19 170.420 133.890
19 2023-01-20 146.730 133.890

In [23]:
df_merged_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   时间               365 non-null    datetime64[ns]
 1   机主汽压力            365 non-null    float64
 2   机再热汽温度           365 non-null    float64
 3   发电厂用电率           365 non-null    float64
 4   运行小时             365 non-null    float64
 5   低缸排汽温度           365 non-null    float64
 6   热力计算排烟温度         365 non-null    float64
 7   氧量               365 non-null    float64
 8   空预器漏风率           365 non-null    float64
 9   真空               365 non-null    float64
 10  炉给水温度            365 non-null    float64
 11  平均负荷             365 non-null    float64
 12  送风温度             365 non-null    float64
 13  主汽温度             365 non-null    float64
 14  平均负荷率            365 non-null    float64
 15  空干基含碳量（%）        365 non-null    float64
 16  收到基挥发分（%）        365 non-null    float64
 17  收到基灰分（%）         365 non-null    float64
 18  收到基低位发热量(kJ/kg)  365 non-null    float64
 19  全水分（%）           365 non-null    float64
 20  负荷               310 non-null    float64
 21  碳排放强度            310 non-null    float64
 22  负荷率              310 non-null    float64
dtypes: datetime64[ns](1), float64(22)
memory usage: 65.7 KB

In [40]:
df_merged_1_2 = pd.concat([df_merged_1,df_merged_2])
df_merged_1_2

,时间,机主汽压力,机再热汽温度,发电厂用电率,运行小时,低缸排汽温度,热力计算排烟温度,氧量,空预器漏风率,真空,...,主汽温度,平均负荷率,空干基含碳量（%）,收到基挥发分（%）,收到基灰分（%）,收到基低位发热量(kJ/kg),全水分（%）,负荷,碳排放强度,负荷率
0,2023-01-01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,54.080,24.330,23.390,18369.700,14.200,NaN,NaN,NaN
1,2023-01-02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,54.080,24.330,23.390,18369.700,14.200,NaN,NaN,NaN
2,2023-01-03,15.650,533.630,5.190,8.860,41.570,0.000,4.810,4.410,-93.920,...,537.590,44.444,54.080,24.330,23.390,18369.700,14.200,141.088,1062.950,44.090
3,2023-01-04,12.300,512.900,4.920,24.000,26.850,119.690,4.390,2.400,-99.810,...,540.040,64.584,54.080,24.330,23.390,18369.700,14.200,206.726,838.918,64.602
4,2023-01-05,13.710,515.220,4.630,24.000,28.490,123.480,4.050,3.020,-99.430,...,539.850,72.006,54.080,24.330,23.390,18369.700,14.200,230.601,863.165,72.063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023-12-27,12.650,532.270,5.200,24.000,24.840,124.630,4.750,1.620,-99.400,...,539.960,59.716,58.230,24.760,18.390,19516.300,15.000,191.658,794.341,59.893
361,2023-12-28,13.190,536.400,4.630,24.000,26.570,127.440,4.290,1.570,-99.070,...,541.370,67.156,58.230,24.760,18.390,19516.300,15.000,219.845,774.898,68.702
362,2023-12-29,14.600,537.310,4.650,24.000,30.170,130.940,3.210,1.580,-98.350,...,541.640,84.116,58.230,24.760,18.390,19516.300,15.000,274.056,744.289,85.642
363,2023-12-30,12.370,533.230,5.420,24.000,24.910,120.490,4.870,1.520,-99.340,...,539.700,57.681,58.230,24.760,18.390,19516.300,15.000,183.665,805.373,57.395
364,2023-12-31,11.900,533.080,5.670,24.000,23.970,119.430,5.330,1.300,-99.500,...,540.050,52.475,58.230,24.760,18.390,19516.300,15.000,171.075,803.455,53.461

In [41]:
df_merged_1_2_3_4 = pd.concat([df_merged_1,df_merged_2,df_merged_3,df_merged_4])
df_merged_1_2_3_4

,时间,机主汽压力,机再热汽温度,发电厂用电率,运行小时,低缸排汽温度,热力计算排烟温度,氧量,空预器漏风率,真空,...,主汽温度,平均负荷率,空干基含碳量（%）,收到基挥发分（%）,收到基灰分（%）,收到基低位发热量(kJ/kg),全水分（%）,负荷,碳排放强度,负荷率
0,2023-01-01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,54.080,24.330,23.390,18369.700,14.200,NaN,NaN,NaN
1,2023-01-02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,54.080,24.330,23.390,18369.700,14.200,NaN,NaN,NaN
2,2023-01-03,15.650,533.630,5.190,8.860,41.570,0.000,4.810,4.410,-93.920,...,537.590,44.444,54.080,24.330,23.390,18369.700,14.200,141.088,1062.950,44.090
3,2023-01-04,12.300,512.900,4.920,24.000,26.850,119.690,4.390,2.400,-99.810,...,540.040,64.584,54.080,24.330,23.390,18369.700,14.200,206.726,838.918,64.602
4,2023-01-05,13.710,515.220,4.630,24.000,28.490,123.480,4.050,3.020,-99.430,...,539.850,72.006,54.080,24.330,23.390,18369.700,14.200,230.601,863.165,72.063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023-12-27,26.120,613.640,NaN,24.000,30.090,113.350,4.150,8.130,-97.920,...,599.320,88.152,59.630,24.760,14.960,20194.100,17.100,885.236,788.513,88.524
361,2023-12-28,27.830,611.980,NaN,24.000,30.950,114.660,3.880,8.260,-97.670,...,599.640,94.368,59.630,24.760,14.960,20194.100,17.100,953.094,776.643,95.309
362,2023-12-29,28.020,614.260,NaN,24.000,31.360,114.240,3.810,7.480,-97.530,...,598.780,95.338,59.630,24.760,14.960,20194.100,17.100,962.929,772.054,96.293
363,2023-12-30,25.090,614.700,NaN,24.000,30.680,112.400,4.370,7.890,-97.850,...,599.630,84.221,59.630,24.760,14.960,20194.100,17.100,850.992,799.697,85.099
364,2023-12-31,23.820,612.350,NaN,24.000,29.710,109.750,4.640,7.800,-98.450,...,599.240,80.325,59.630,24.760,14.960,20194.100,17.100,816.881,828.755,81.688

In [42]:
df_merged_1.to_excel("../已整合数据/安庆1号数据整合2023.xlsx",index = False)
df_merged_2.to_excel("../已整合数据/安庆2号数据整合2023.xlsx",index = False)
df_merged_3.to_excel("../已整合数据/安庆3号数据整合2023.xlsx",index = False)
df_merged_4.to_excel("../已整合数据/安庆4号数据整合2023.xlsx",index = False)

df_merged_1_2.to_excel("../已整合数据/安庆12号数据整合2023.xlsx",index = False)
df_merged_1_2_3_4.to_excel("../已整合数据/安庆1234号数据整合2023.xlsx",index = False)