In [4]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.float_format', '{:.3f}'.format)
import warnings
warnings.filterwarnings("ignore")
# 设置中文字体为 SimHei（黑体）
plt.rcParams['font.sans-serif'] = ['SimHei']  # 使用黑体 SimHei
plt.rcParams['axes.unicode_minus'] = False    # 解决负号显示问题

In [5]:
# 马鞍山电厂燃料月度数据存放文件夹
fuel_directory = "../data/马鞍山电厂入炉煤质数据/马鞍山入炉煤统计表202308-202412"
#合并马鞍山电厂燃料月度数据 2308-2412月度文件为整年
# List to hold each DataFrame
dataframes = []
# Loop through all files in the directory
for file in os.listdir(fuel_directory):
    print(file)
    # Construct full file path
    file_path = os.path.join(fuel_directory, file)
    
    # Read the Excel file into a DataFrame
    df = pd.read_excel(file_path,skiprows=6,skipfooter=2)
    
    # Append the DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into df for one year 
fuel_year_df = pd.concat(dataframes, ignore_index=True)
#重命名列名
fuel_year_df.columns = ["时间","总吨位（T)","全水分%","水分%","灰份%","挥发份%Vad","挥发份%Vdaf","全硫%ar","全硫%ad","高位热量","低位热量","固定碳%","#1煤量","#1热值","#2煤量",
                        "#2热值","飞灰%#1","飞灰%#2","炉渣%#1","炉渣%#2"]	
# convert date from object type to datetime type 
fuel_year_df["时间"] = pd.to_datetime(fuel_year_df["时间"])
# set date to index
fuel_year_df.set_index("时间", inplace=True)
# sort data by date
fuel_year_df = fuel_year_df.sort_index()
#机组1&机组2整年日度数据
fuel_year_df = fuel_year_df.reset_index()
# 将整个 DataFrame 中的 "∕" 和 "/" 替换为 NaN
#fuel_year_df[(fuel_year_df["飞灰%#1"] =="∕")|(fuel_year_df["飞灰%#1"] =="/")]
fuel_year_df = fuel_year_df.replace(['∕', '/'], np.nan)

2023年10月入炉煤质统计表.xls
2023年11月入炉煤质统计表.xls
2023年12月入炉煤质统计表.xls
2023年8月入炉煤质统计表.xls
2023年9月入炉煤质统计表.xls
2024年10月入炉煤质统计表.xls
2024年11月入炉煤质统计表.xls
2024年12月入炉煤质统计表.xls
2024年1月入炉煤质统计表.xls
2024年2月入炉煤质统计表.xls
2024年3月入炉煤质统计表.xls
2024年4月入炉煤质统计表.xls
2024年5月入炉煤质统计表.xls
2024年6月入炉煤质统计表.xls
2024年7月入炉煤质统计表.xls
2024年8月入炉煤质统计表.xls
2024年9月入炉煤质统计表.xls

In [6]:
fuel_year_df

,时间,总吨位（T),全水分%,水分%,灰份%,挥发份%Vad,挥发份%Vdaf,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,#2煤量,#2热值,飞灰%#1,飞灰%#2,炉渣%#1,炉渣%#2
0,2023-08-01,10520,11.500,3.340,30.900,26.170,39.800,0.830,0.900,21.190,18.560,36.260,4998,18.460,5522,18.650,1.353,1.167,4.870,4.960
1,2023-08-02,9291,12.300,3.810,29.050,26.370,39.300,0.690,0.760,21.470,18.720,37.180,4420,18.780,4871,18.670,1.177,1.207,4.930,5.010
2,2023-08-03,8755,14.500,5.160,23.510,27.350,38.340,0.590,0.660,22.800,19.650,39.670,4424,19.350,4331,19.960,1.423,1.313,5.040,5.410
3,2023-08-04,11385,14.300,5.660,24.200,27.910,39.800,0.640,0.710,21.950,19.030,38.360,5578,18.830,5807,19.230,1.357,1.357,4.270,4.700
4,2023-08-05,13019,18.000,9.810,20.300,27.560,39.430,0.660,0.720,21.850,18.860,38.470,6628,18.810,6391,18.920,1.327,1.263,4.310,4.860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,10860,16.600,5.980,23.490,28.900,40.920,0.570,0.650,22.480,18.930,36.910,5306,19.240,5554,18.630,1.487,1.430,4.910,3.880
515,2024-12-28,8518,20.000,9.440,19.400,30.640,43.090,0.690,0.790,21.950,18.290,35.780,3825,18.690,4693,17.960,1.477,1.437,5.020,3.660
516,2024-12-29,7998,20.900,9.080,18.910,30.880,42.910,0.750,0.860,22.190,18.180,35.750,3668,18.410,4330,18.000,1.357,1.543,4.980,3.590
517,2024-12-30,7614,19.500,10.120,20.410,29.880,43.010,0.740,0.820,21.590,18.260,35.480,3777,17.910,3837,18.600,1.527,1.593,5.290,5.020
518,2024-12-31,9608,14.800,7.340,21.080,28.720,40.110,0.670,0.730,22.560,19.750,39.420,5021,19.690,4587,19.810,1.357,1.550,4.670,5.190

In [7]:
fuel_year_df.columns

Index(['时间', '总吨位（T)', '全水分%', '水分%', '灰份%', '挥发份%Vad', '挥发份%Vdaf', '全硫%ar',
       '全硫%ad', '高位热量', '低位热量', '固定碳%', '#1煤量', '#1热值', '#2煤量', '#2热值',
       '飞灰%#1', '飞灰%#2', '炉渣%#1', '炉渣%#2'],
      dtype='object')

In [8]:
# 选择机组1和机组2 燃煤特征
fuel_year_df_1 = fuel_year_df[['时间','全水分%', '水分%', '灰份%', '挥发份%Vad', '挥发份%Vdaf', '全硫%ar', '全硫%ad',
       '高位热量', '低位热量', '固定碳%', '#1煤量', '#1热值', '飞灰%#1','炉渣%#1']]
fuel_year_df_2 = fuel_year_df[['时间','全水分%', '水分%', '灰份%', '挥发份%Vad', '挥发份%Vdaf', '全硫%ar', '全硫%ad',
       '高位热量', '低位热量', '固定碳%', '#2煤量', '#2热值', '飞灰%#2','炉渣%#2']]

In [9]:
fuel_year_df_1

,时间,全水分%,水分%,灰份%,挥发份%Vad,挥发份%Vdaf,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,飞灰%#1,炉渣%#1
0,2023-08-01,11.500,3.340,30.900,26.170,39.800,0.830,0.900,21.190,18.560,36.260,4998,18.460,1.353,4.870
1,2023-08-02,12.300,3.810,29.050,26.370,39.300,0.690,0.760,21.470,18.720,37.180,4420,18.780,1.177,4.930
2,2023-08-03,14.500,5.160,23.510,27.350,38.340,0.590,0.660,22.800,19.650,39.670,4424,19.350,1.423,5.040
3,2023-08-04,14.300,5.660,24.200,27.910,39.800,0.640,0.710,21.950,19.030,38.360,5578,18.830,1.357,4.270
4,2023-08-05,18.000,9.810,20.300,27.560,39.430,0.660,0.720,21.850,18.860,38.470,6628,18.810,1.327,4.310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,16.600,5.980,23.490,28.900,40.920,0.570,0.650,22.480,18.930,36.910,5306,19.240,1.487,4.910
515,2024-12-28,20.000,9.440,19.400,30.640,43.090,0.690,0.790,21.950,18.290,35.780,3825,18.690,1.477,5.020
516,2024-12-29,20.900,9.080,18.910,30.880,42.910,0.750,0.860,22.190,18.180,35.750,3668,18.410,1.357,4.980
517,2024-12-30,19.500,10.120,20.410,29.880,43.010,0.740,0.820,21.590,18.260,35.480,3777,17.910,1.527,5.290
518,2024-12-31,14.800,7.340,21.080,28.720,40.110,0.670,0.730,22.560,19.750,39.420,5021,19.690,1.357,4.670

In [10]:
fuel_year_df_2

,时间,全水分%,水分%,灰份%,挥发份%Vad,挥发份%Vdaf,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#2煤量,#2热值,飞灰%#2,炉渣%#2
0,2023-08-01,11.500,3.340,30.900,26.170,39.800,0.830,0.900,21.190,18.560,36.260,5522,18.650,1.167,4.960
1,2023-08-02,12.300,3.810,29.050,26.370,39.300,0.690,0.760,21.470,18.720,37.180,4871,18.670,1.207,5.010
2,2023-08-03,14.500,5.160,23.510,27.350,38.340,0.590,0.660,22.800,19.650,39.670,4331,19.960,1.313,5.410
3,2023-08-04,14.300,5.660,24.200,27.910,39.800,0.640,0.710,21.950,19.030,38.360,5807,19.230,1.357,4.700
4,2023-08-05,18.000,9.810,20.300,27.560,39.430,0.660,0.720,21.850,18.860,38.470,6391,18.920,1.263,4.860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,16.600,5.980,23.490,28.900,40.920,0.570,0.650,22.480,18.930,36.910,5554,18.630,1.430,3.880
515,2024-12-28,20.000,9.440,19.400,30.640,43.090,0.690,0.790,21.950,18.290,35.780,4693,17.960,1.437,3.660
516,2024-12-29,20.900,9.080,18.910,30.880,42.910,0.750,0.860,22.190,18.180,35.750,4330,18.000,1.543,3.590
517,2024-12-30,19.500,10.120,20.410,29.880,43.010,0.740,0.820,21.590,18.260,35.480,3837,18.600,1.593,5.020
518,2024-12-31,14.800,7.340,21.080,28.720,40.110,0.670,0.730,22.560,19.750,39.420,4587,19.810,1.550,5.190

In [11]:
fuel_year_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   时间        519 non-null    datetime64[ns]
 1   全水分%      519 non-null    float64
 2   水分%       519 non-null    float64
 3   灰份%       519 non-null    float64
 4   挥发份%Vad   519 non-null    float64
 5   挥发份%Vdaf  519 non-null    float64
 6   全硫%ar     519 non-null    float64
 7   全硫%ad     519 non-null    float64
 8   高位热量      519 non-null    float64
 9   低位热量      519 non-null    float64
 10  固定碳%      519 non-null    float64
 11  #1煤量      519 non-null    int64
 12  #1热值      519 non-null    float64
 13  飞灰%#1     406 non-null    float64
 14  炉渣%#1     400 non-null    float64
dtypes: datetime64[ns](1), float64(13), int64(1)
memory usage: 60.9 KB

In [12]:
fuel_year_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   时间        519 non-null    datetime64[ns]
 1   全水分%      519 non-null    float64
 2   水分%       519 non-null    float64
 3   灰份%       519 non-null    float64
 4   挥发份%Vad   519 non-null    float64
 5   挥发份%Vdaf  519 non-null    float64
 6   全硫%ar     519 non-null    float64
 7   全硫%ad     519 non-null    float64
 8   高位热量      519 non-null    float64
 9   低位热量      519 non-null    float64
 10  固定碳%      519 non-null    float64
 11  #2煤量      519 non-null    int64
 12  #2热值      519 non-null    float64
 13  飞灰%#2     479 non-null    float64
 14  炉渣%#2     479 non-null    float64
dtypes: datetime64[ns](1), float64(13), int64(1)
memory usage: 60.9 KB

In [13]:
fuel_year_df_1.to_excel("../已提取数据/马鞍山1号煤质202308-202412.xlsx",index=False)

In [14]:
fuel_year_df_1.to_excel("../已提取数据/马鞍山2号煤质202308-202412.xlsx",index=False)